{#
/**
 * @file
 * Default theme implementation of modal add paragraph dialog template.
 *
 * Following classes have custom use:
 *   - paragraphs-add-dialog - is used to wrap the dialog.
 *   - paragraphs-add-dialog-row - is used to wrap the paragraph type rows.
 *
 *
 * @ingroup themeable
 */
#}
<div class="paragraphs-add-dialog-template" title="{{ 'Add paragraph'|t }}" style="display: none;">
	<ul class="paragraphs-add-dialog-list">
		<li class="paragraphs-add-dialog-row-template">
      <button class="paragraphs-add-type-trigger-element button" data-type-name="content" data-type="data-type"
                    data-delta="data-delta"></button>
    </li>
  </ul>
</div>
